  .container {
     max-width: 500px;
     margin: 0 auto;
     padding: 20px;
     border: 1px solid #ccc;
     border-radius: 10px;
     background-color: #f9f9f9;
 }
   

 .required{
    color:red
}
 
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #4B0082;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.error-message {
    color: red;
    font-size: 0.875em;
    text-align: center;
}

.submit-button {
    width: 100%;
    padding: 10px;
    background-color: #4B0082;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#4B0082, 10%);
    }

    &:disabled {
        background-color: #ccc;
    }
}

.sign {
    text-align: center;
    
    a {
        color: #4B0082;
        text-decoration: none;
        font-weight: bold;
        
        &:hover {
            text-decoration: underline;
        }
    }
}
